*{
    padding: 0px;
    margin: 0px;

}
.headerBox{
    width: 100%;
    height: 12vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    color: white;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}
.bslogo{
    width: 30%;
    /* border: 2px solid black; */
}

.navBox{
    width: 40%;
     /* border: 2px solid green;  */
     font-size: 10px;
}

.navBox ul{
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
}

.hambuggerBox{
    display: none;
}


.hambugger{
    width: 30px;
    height: 3px;
    background-color: blue;
    margin: 5px;
}
.sectBox{
      /* border: 2px solid red; */
      height: 700px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 40px;
      
}

.sectionBox{
    border:2px solid whitesmoke;
    background-color: whitesmoke;
    /* box-shadow: 20px whitesmoke; */
    width: 75%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 40px 0;
    /* margin-bottom: 40px */
}
.infoBox{
    /* border: 2px solid green; */
    width: 8%;
    height: 8%;
    border-radius: 10px;
    background-color: blue;
}

.wordBox{
    /* border: 2px solid blue; */
    height: 99%;
    width: 75%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputBox{
    height: 80%;
    width: 75%;
    /* border: 2px solid red; */
}

.inputBxx{
    height: 10%;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.inputBxh{
    height: 30%;
    width: 80%;
    margin: 10px;
    border-radius: 10px;
    padding-left: 10px;
}
.bBox{
    width:80%;
    border-radius: 5px;
    /* border: 1px solid grey; */
    height: 30px;
    padding-left:15px;
    background-color: blue;
    color: white;
}
.bBox:hover{
    cursor: pointer;
    background-color: rgb(1, 1, 61);
}


.chatCont{
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatDivs{
    /* border: 2px solid green; */
    width: 75%;
    height: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 80px;
}
.wordBox h4 {
    color: darkgray;
}

.divBox{
    width: 48%;
    height: 98%;
    /* border: 2px solid blue; */
}
.divBnx{
    width: 48%;
    height: 96%;
    /* border: 2px solid brown; */
}
.bnxnOne{
    /* border: 2px solid black; */
    height: 97%;
    width: 49%;
    display: flex;
    justify-content: space-around;

}
.bnxnTwo{
    /* border: 2px solid black; */
    height: 97%;
    width: 49%;
    display: flex;
    justify-content: space-around;
}
.zinoBox{
    height:10%;
    width: 15%;
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: blue;
}
.footerContn{
    /* border: 2px solid red; */
    height: 100px;
    background-color:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.copyContn{
    /* border: 2px solid black; */
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.copyDiv{
    /* border: 2px solid green; */
    width: 30%;
    height: 50%;
    text-align: center;
}
.termsBox{
    /* border: 2px solid green; */
    width: 30%;
    height: 50%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .navBox{
        display: none;
    }
    .hambuggerBox{
        display: block;
        /* border: 1px solid black; */
        border-radius: 10px;
    }
    .sizeBox{
        display: none;
    }

    .headingBox{
        width: 100%;
    }
    .sectionBox{
    /* border:2px solid blue; */
    width: 75%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px;
}
.infoBox{
    /* border: 2px solid green; */
    width: 15%;
    height: 5%;
    border-radius: 10px;
}
.wordBox{
    /* border: 2px solid blue; */
    height: 99%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatDivs{
    display: flex;
    flex-direction: column;

}
.bnxnOne{
    width: 98%;
}
.bnxnTwo{
    width: 98%;
}
.zinoBox{
    height: 25%;
    width: 25%;
    border-radius: 10px;