*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.headerBox{
    width: 100%;
    height: 12vh;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgray;
    color: white;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}
.bslogo{
    width: 30%;
    /* border: 2px solid black; */
}

.navBox{
    width: 40%;
     /* border: 2px solid green;  */
     font-size: 10px;
}

.navBox ul{
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
}

.hambuggerBox{
    display: none;
}


.hambugger{
    width: 30px;
    height: 3px;
    background-color: blue;
    margin: 5px;
}


.sectionBox{
     display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    /* border: 2px solid rgb(52, 11, 186);  */
}

.sectionCont{
    background-color:gray;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 ;
    /* border: 2px solid red; */
    width: 100%;
}

.startBtn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: whitesmoke;
}
.startBtn:hover{
    cursor: pointer;
    background-color: rgb(2, 2, 57);
}


.learnBtn{
  padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color:aqua;
    color:black
      
}
.learnBtn:hover{
    cursor: pointer;
    background-color: white;
}


.headingBox{
     /* border: 2px solid red;  */
    width: 40%;
    /* height: 300px; */
    align-items: center;
    color: rgb(255, 255, 255);
    
}

.headingBox p{
    margin-bottom: 10px;
    color: rgb(219, 218, 218);
    
}


.sizeBox{
    /* border: 2px solid green; */
    width: 40%;
    height:300px ;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 10px; */
}
  
.btnBox{
    /* border: 2px solid blue;  */
    display: flex;
    flex-direction: row; 
    width: 300px;
    align-items: center;
    /* margin-top: 10px; */
    justify-content: space-between;

}
.boxContainer{
    /* border: 2px solid red; */
    background-color: darkgray;
    height: 300px;
    width:100%;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    box-shadow: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: gray;

}
.divContainer{
    /* border: 2px solid blue ; */
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

.h2Container{
    /* border: 2px solid green; */
    text-align: center;
    display: flex;
}
.featuredContainer{
    /* border: 2px solid rgb(113, 221, 12); */
    width: 50%;

    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.featuresContainer{
    /* border: 2px solid brown; */
    /* background-color: whitesmoke; */
    width: 300px;
    /* padding-left: 10px; */
    /* margin: 10px; */
    border-radius: 10px;
    flex: 1 1 200px;
}
.featuresTwo{
    /* border: 2px solid blue; */
    height: 150px;
    width: 200px;
}
.miniBox{
    height: 40px;
    width: 40px;
    /* border: 2px solid blue; */
    border-radius: 10px;
    /* margin: 20px 0 10px 10px; */
    background-color: blue;
}

.workingSection{
    /* border: 2px solid green; */
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.pDiv{
    height: 100%;
    /* width: 500px; */
    /* border: 2px solid red; */

    /* margin-top: 40px; */
    background-color: whitesmoke;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profileBox{
    height: 50px;
    width: 50px;
    /* border: solid 2px black; */
    background-color: grey;
    border-radius: 100%;
    /* margin-left: 20px; */
    font-size: 10px;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.pCover{
    /* border: 2px solid green; */
    /* text-align: center; */
    justify-content: center;
    display: flex;
    flex-direction: row;

}
.dClass{
    /* border: 2px solid red; */
    height: 25px;

}
.headContainer{
    /* border: 2px solid  ; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headBox{
    /* border: 2px solid red; */
    height: 150px;
    width: 70%;
    /* text-align: center; */
    /* padding-left: 60px; */
    /* padding-right: 60px; */
    font-size: 20px;
    /* margin-bottom: 50px; */
   
}

.profileContainer{
    height: 50px;
    width: 50px;
    /* border: solid 2px black; */
    background-color: grey;
    border-radius: 100%;
    margin-left: 20px;
    font-size: 10px;
    text-align: center;
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.worldBox{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
     /* display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 ; */
}
.newsBox{
    /* border: 2px solid red; */
    height:500px ;
    width: 100%;
    display: flex;
    justify-content: center;
}
.blogPost{
    height: 99%;
    width: 75%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 10px; */
}
.postDiv{
    height: 97%;
    width: 32%;
    /* border: 2px solid brown; */
    border-radius: 10px;
    margin: 10px;
    background-color: whitesmoke;
    box-shadow: 2px  2PX 2PX 2PX grey;
}
.divCnt{
    height: 40%;
    /* border: 2px solid blue; */
    background-color: darkgray;
    width:100%;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center; */
    box-shadow: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: gray;

}
.mediaBox{
    /* border: 2px solid blue; */
    height: 20px;
    width: 50px;
    border-radius: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: blue;
    text-align: center;
}
.blogBox{
    /* border: 2px solid green; */
    height: 30%;
    margin: 10px;
}
.profileBxx{
    height: 50px;
    width: 50px;
    /* border: solid 2px black; */
    background-color: grey;
    border-radius: 100%;
    /* margin-left:15px; */
    font-size: 10px;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.kellyDiv{
    /* border: 2px solid blue; */
    /* height: 60%; */
    width: 65%;
    font-size: 15px;
}
.prflKelly{
    /* border: 2px solid green; */
    display: flex;
    /* width: 75%; */
    align-items: center;
    margin: 10px;
    /* justify-content: center; */
}
.emailCont{
    /* border: 2px solid red; */
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailDiv{
    /* border: 2px solid green; */
    border-radius: 10px;
    height: 85%;
    width: 50%;
    background-color: blue;
    text-align: center;
    /* padding: 20px; */
    color: azure;
}
.bBox{
    /* width:100%; */
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    /* padding-left:15px; */
    background-color: blue;
    color: white;
    text-align: center;
}
.inputBox{
     /* width:100%; */
    border-radius: 5px;
    border: 1px solid grey;
    height: 30px;
    /* padding-left:15px; */
    /* background-color: blue; */
    color: white;
    text-align: center;
}

.footerContn{
    /* border: 2px solid red; */
    height: 100px;
    width: 100%;
    background-color:darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.copyContn{
    /* border: 2px solid black; */
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.copyDiv{
    /* border: 2px solid green; */
    width: 30%;
    height: 50%;
    text-align: center;
}
.termsBox{
    /* border: 2px solid green; */
    width: 30%;
    height: 50%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .navBox{
        display: none;
    }
    .hambuggerBox{
        display: block;
        /* border: 1px solid black; */
        border-radius: 10px;
    }
    .sizeBox{
        display: none;
    }
.divContainer{
    /* border: 2px solid blue ; */
    padding: 20px;
    /* height: 600px; */
    width: 75%;
    display: flex;
    flex-direction: row;

    /* justify-content: space-around; */
}
    .headingBox{
        width: 100%;
        /* border: 2px solid red; */
    }
    .divContainer{
        display: flex;
        flex-direction: column;
        /* border: 2px solid ; */
        /* height: 200vh; */

    }
    .featuredContainer{
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        width: 90%;
        height: 100%;
        /* border: 2px solid rgb(0, 255, 76); */
        padding: 20px;
        margin-top: 0px;
    } 
    .titleBox{
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        height: 100%;
        padding: 10px;
        
        /* border: 2px solid green; */
    }
    .pDiv{
        padding: 20px;
        width: 300px;
    }
    .profileBox{
        margin: 0%;
    }
    .headBox{
        text-align: center;
        /* border: 2px solid green; */
        height: 90%;
        width:100%;
    }
 
    .newsBox{
    /* border: 2px solid red; */
    margin-top:82px ;
    height:1500px ;
    width: 100%;
    display: flex;
    justify-content: center;
    }
    .blogPost{
    /* height: 99%; */
    width: 75%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction:column;
    align-items: center;
    
}
.emailCont{
    width: 100%;
}
.emailDiv{
    /* border: 2px solid green; */
    border-radius: 10px;
    height: 80%;
    width: 75%;
    background-color: blue;
    text-align: center;
    /* padding: 20px; */
    color: azure;
   
}
.postDiv{
    /* height: 95%; */
    width: 70%;
    /* border: 2px solid brown; */
    justify-content: space-around;
}
/* @media (width < 400px){
    .btnBox{
        display: flex;
        flex-direction: column;
    /* } */
    .footerContn{
        height: 100px;
        width: 100%;
        /* border: 2px solid red; */
    }
    .copyContn{
        display: flex;
        flex-direction: column;
    }
    .copyDiv{
       width: 70%;
    height: 40%;
    }
    .termsBox{
        width: 70%;
    height: 40%;
    }
    .worldBox{
        width: 100%;
        /* padding: 20px; */
        /* border: 2px solid red; */
    }
    
    .h2Container{
    /* border: 2px solid green; */
    text-align: center;
    display: flex;
    margin: 10px;
}

.postDiv{
    width: 100%;
}

.headBox{
 width: 300px;
   
}

.headContainer{
    width: 100%;
    /* border: 2px solid red; */
    height: 300px;
}
.workingSection{
   /* border: 2px solid red; */
   width: 100%;
}

.sectionCont{
    /* border: 2px solid green; */
    width: 100%;
}

}



        